nbproject
app/config/parameters.yml
app/cache/*
app/logs
app/bootstrap.php.cache
web/bundles/
vendor/
!web/js/vendor/
bin/
logs/
#.gitignore
composer.phar
composer.lock
web/media/*
web/uploads/images/master/*
!default.png
web/uploads/images/consumers/*
!default.png
web/uploads/images/news/*
!default.png
web/uploads/cache/*
web/uploads/images/portfolio/*
!default.png
web/uploads/images/product/*
!default.png
web/uploads/images/brands/*
!default.png
web/uploads/images/salons/*
!default.png
web/uploads/images/schools/*
!default.png
web/uploads/images/adverts/*
!default.png
web/uploads/images/articles/*
!default.png
web/uploads/images/events/*
!default.png
web/uploads/images/brand_category/*
!default.png
web/uploads/images/brands_category/*
!default.png
web/uploads/images/agancy/*
!default.png
web/uploads/images/banners/*
!default.png
!.htaccess
