nbproject
app/config/parameters.yml
app/cache/*
app/logs
app/bootstrap.php.cache
web/bundles/
vendor/
!web/js/vendor/
bin/
logs/
#.gitignore
composer.phar
composer.lock
web/uploads/images/master/*
!default.jpg
web/uploads/images/news/*
!default.jpg
web/uploads/cache/*
web/uploads/images/portfolio/*
!default.gif
!.htaccess
