nbproject
app/config/parameters.yml
app/cache/*
app/logs
app/bootstrap.php.cache
web/bundles/
vendor/
!web/js/vendor/
bin/
logs/
#.gitignore
composer.phar
composer.lock
web/media/*
web/uploads/images/master/*
!default.jpg
web/uploads/images/consumers/*
!default.jpg
web/uploads/images/news/*
!default.jpg
web/uploads/cache/*
web/uploads/images/portfolio/*
!default.gif
web/uploads/images/product/*
!default.jpg
web/uploads/images/brands/*
!default.jpg
web/uploads/images/salons/*
!default.jpg
web/uploads/images/brand_category
!default.png
!.htaccess
