{% extends "LaNetLaNetBundle::layout.html.twig" %}


  
{% block content %}
<h1>О портале</h1>
<div id="about">
    <p>Добро пожаловать на портал индустрии красоты и здоровья Lalook.</p>
    <p>Luxury at Look (Lalook) – это роскошный вид, который Вы сможете не только создать, но и кардинально изменить при помощи портала — Вашего надежного персонального интернет-помощника.</p>
    <p>Индустрия красоты стремительно развивается: появляется очень много новых мастеров и салонов красоты, а также растет перечень услуг и процедур, которые они предоставляют. Ежемесячно на рынке страны появляется сотни новых брендов, которые предлагаю множество новых продуктов... Наш портал позволит не только не потеряться в этом разнообразии, а поможет разобраться и подобрать мастера, услугу или продукт в удобном для Вас месте и в удобное время.</p>
    <p>С помощью портала, настроив поиск по индивидуальным параметрам, Вы сможете с легкостью найти:</p>
    <ul>
        <li>мастера индустрии красоты, который сможет оказать интересующую Вас услугу, сможет грамотно подчеркнуть достоинства и скрыть недостатки, и поможет усовершенствовать Ваш образ или создать новый;</li>
        <li>салон красоты или парикмахерскую в удобном для Вас месте: возле дома или работы, а отправляясь в командировку или на отдых, то и в другом городе. Просмотрев подробную информацию, Вы сможете убедиться что получите весь комплекс интересующих услуг и полностью преобразиться с макушки головы до кончиков пальцев ног;</li>
        <li>бренд, узнать его историю, особенности и ознакомиться с его ассортиментом, детально ознакомиться с продукцией, которую он предлагает;</li>
        <li>проф. магазин, где Вы сможете не только купить лучшие товары, но и получить грамотную квалифицированную консультацию;</li>
        <li>обучающий центр в котором сможете приобрести навыки по совершенствованию своего образа в домашних условиях на каждый день без участия мастеров, или получить новую профессию;</li>
        <li>интересные события и новости индустрии.</li>
    </ul>
    <p>Для того, чтобы быть в курсе новостей портала Вам необходимо просто зарегистрироваться и подписаться на рассылку. После регистрации Вам будет доступен личный кабинет в котором будет храниться вся информация о интересующих страницах и Ваши контактные данные.</p>


    <p>Приглашаем к размещению информации о предоставляемых услугах и товарах на нашем портале:</p>
    <ul>
        <li>специалистов индустрии красоты: парикмахеров, визажистов, косметологов, массажистов, а также мастеров маникюра, педикюра, ногтевого сервиса, наращивания волос, наращивания ресниц, тату, пирсинга, депиляции;</li>
        <li>салоны красоты, парикмахерские, студии красоты, косметологические кабинеты...;</li>
        <li>представительства и производителей профессиональных товаров для индустрии красоты;</li>
        <li>специализированные точки продажи профессиональных товаров, инструментов и оборудования: магазины, супермаркеты, интернет-магазины;</li>
        <li>обучающие студии, образовательные центры, школы, академии...</li>
    </ul>

    <p>Если у Вас есть пожелания об улучшении портала или замечания по его работе, то Вы можете воспользоваться формой обратной связи и отправить нам письмо.</p>
</div>
{% endblock %}