{% extends "LaNetLaNetBundle::layout.html.twig" %}

      
{% block content %}
<div class="col col_1_of_4">
  <ul>
    <li><a href="{{ path('la_net_la_net_profile') }}">Профиль</a></li>
    <li><a href="{{ path('la_net_la_net_profile_portfolio') }}">Портфолио</a></li>
    <li><a href="{{ path('la_net_la_net_profile_service_price') }}">Услуги</a></li>
  </ul>
</div> 
<div class="col col_3_of_4">
{% block masterContent %}
{% endblock%}
</div>
{% endblock %}