{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}

<ul>
  <li><a href="{{ path('la_net_admin_masters_list') }}">Список мастеров</a></li>
  <li><a href="{{ path('la_net_admin_masters_categories_list') }}">Категории мастеров</a></li>
</ul>
{% endblock content %}