{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div style="width:50%;margin:50px auto;">
        <div class="row">
            <div class="col col_1_of_1">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                
                <div>
                    
                    {% if not (user.validation == '1') %}
                    <p>На указанную вами почту выслано письмо с подтверждением регистрации. Для активации нужно перейти по ссылке указаной в письме.
                     Обратите внимание: письмо может попасть в папку "Спам", рекомендуем обязательно её проверить.'             
                      </p>
                      {% endif %}
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col col_1_of_2">
                <a style="width:80%" href="{{ path('la_net_la_net_homepage') }}" class="button">На Главную</a>
            </div>
            <div class="col col_1_of_2">
                <a style="width:80%" href="{% include "LaNetLaNetBundle::profileLink.html.twig" %}" class="button">Редактировать Профиль</a>
            </div>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
        {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}
