{% extends "LaNetLaNetBundle::layoutProfile.html.twig" %}

{% block menu %}
  {% if is_granted('ROLE_CONSUMER') %}
    {% include "LaNetLaNetBundle:Consumer:menu.html.twig" %}
  {% elseif is_granted('ROLE_SPECIALIST') %}
    {% include "LaNetLaNetBundle:Master:menu.html.twig" %}
  {% elseif is_granted('ROLE_SALON') %}
  {% elseif is_granted('ROLE_AGANCY') %}
  {% elseif is_granted('ROLE_SHOP') %}
  {% elseif is_granted('ROLE_SCHOOL_CENTER') %}
  {% endif %}
  
{% endblock %}
  
{% block profile_content %}
  <h1>Смена паролья</h1>
  {% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
  {% endblock fos_user_content %}
{% endblock %}
