
@font-face {
    font-family: Comfortaa Bold; /* Имя шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: Comfortaa Light; /* Имя шрифта */
    src: url(../fonts/Comfortaa-Light.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: Comfortaa Regular; /* Имя шрифта */
    src: url(../fonts/Comfortaa-Regular.ttf); /* Путь к файлу со шрифтом */
   }
html, body {height: 100%;   font-family: 'Comfortaa Regular', arial;}

.wrap {
  min-height: 100%;
}

div#registration .item {
    position: relative;
  text-align: bottom;
  float: left;
  width: 225px;
  margin-left: 100px;
  margin-top: 80px;
}

div#registration a {
  position: relative;
  display: block;
  color: #fff;
  background-color: #2d93b2;
  text-align: right;
  padding: 10px 20px 0 80px;
  width:145px;
  height:85px;
  
}

div#registration img {
  left:-75px;
  top:-75px;
  position: absolute;
  z-index: 2;
  border: solid #e8e8e8 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 50%;
}

div#registration a:hover{
  background-color: #6cb55d;
}

h1 {
    font: 28px;
    margin: 20px 0;
}

h1#main {
    color: #578fac;
    text-align: center;
}

input[type="text"], input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
select,
textarea {
  padding: 5px;
  border: 1px solid #c5c5c5;
  color: #5d5d5d;
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Comfortaa Regular';  
}
input[type="text"].half, input.half[type="password"],
input.half[type="email"],
input.half[type="url"],
input.half[type="tel"],
input.half[type="search"],
input.half[type="color"],
input.half[type="number"],
input.half[type="range"],
input.half[type="date"],
input.half[type="time"],
input.half[type="datetime"],
input.half[type="datetime-local"],
input.half[type="month"],
input.half[type="week"],
select.half,
textarea.half {
  width: 50%;
}
input[type="text"].third, input.third[type="password"],
input.third[type="email"],
input.third[type="url"],
input.third[type="tel"],
input.third[type="search"],
input.third[type="color"],
input.third[type="number"],
input.third[type="range"],
input.third[type="date"],
input.third[type="time"],
input.third[type="datetime"],
input.third[type="datetime-local"],
input.third[type="month"],
input.third[type="week"],
select.third,
textarea.third {
  width: 33%;
}
input[type="text"].quarter, input.quarter[type="password"],
input.quarter[type="email"],
input.quarter[type="url"],
input.quarter[type="tel"],
input.quarter[type="search"],
input.quarter[type="color"],
input.quarter[type="number"],
input.quarter[type="range"],
input.quarter[type="date"],
input.quarter[type="time"],
input.quarter[type="datetime"],
input.quarter[type="datetime-local"],
input.quarter[type="month"],
input.quarter[type="week"],
select.quarter,
textarea.quarter {
  width: 25%;
}

textarea {
  min-height: 150px;
}

button, .button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-block;
  line-height: 1.2;
  border: 1px solid #2d93b2;
  background: #fff;
  color: #2d93b2;
  margin: 5px 0;
  padding: .25em 2em;
  text-align: center;
}
button.grey, .button.grey,
input[type="submit"].grey,
input[type="button"].grey,
input[type="reset"].grey {
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
}
button.grey:hover, .button.grey:hover,
input[type="submit"].grey:hover,
input[type="button"].grey:hover,
input[type="reset"].grey:hover {
  color: #fff ! important;
  background: #9d9d9d ! important;
}

button:hover, .button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  color: #fff ! important;
  background: #2d93b2 ! important;
}

input[type="checkbox"] + label {
    padding: 10px;
}

.width-auto select{
  width: auto;
}


.content a {
  color: #000;
}
.content li {
  list-style-type: none;
}

.menu ul li:hover {
   background-color: #6cb55d
}

.col {
  float: left;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col_1_of_1 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_2 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_2 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_3 {
  width: 30.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_3 {
  width: 63.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_3 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_4 {
  width: 22%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_4 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_4 {
  width: 72%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_4 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_5 {
  width: 17%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_5 {
  width: 37%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_5 {
  width: 57%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_5 {
  width: 77%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_5_of_5 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_6 {
  width: 13.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_6 {
  width: 30.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_6 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_6 {
  width: 63.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_5_of_6 {
  width: 80.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_6_of_6 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

a.blue-link {
  color: #2d93b2;
}
a.black-link {
  color: #5d5d5d;
}

ul.profile-nav li {
  border: #2d93b2 solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 5px;
  float:left;
  margin: 5px 20px 5px 0;
}
ul.profile-nav li a{
  color: #2d93b2;
}

ul.list-style-none li {
 list-style-type: none;
}
.clear {
    clear: both;
}
.pagination span a {
  color: #2d93b2;
}

.section {
  border-bottom: 1px solid #2d93b2;
  padding-top: 20px;
  margin-bottom: 20px;
}
.float-left {
  float:left;
}
.float-right {
  float:right;
}
#about p {
    margin: 10px 0;
    text-align: justify;
}
#about ul {
    margin-left: 30px;
}
#about ul li {
    text-align: justify;
}

div.error {
    color: #e39494;
}
.error ul {
    display: inline-block;
    padding:6px 20px;
    background: #ffe5e5;
    color: #e39494;
}
.error li {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

ul.phone li, ul.mail li {
    list-style: none;
}

#header-row {
    margin-bottom: 20px;
}

.blue {
    color: #2d93b2;
}
.tabs {
    color: #2d93b2;
    border: solid 1px #2d93b2;
    padding: 5px 10px;
    display:inline-block;
    float:left;
    margin: 2px;
    text-align: center;
}

.tabs.fixed {
    width:100px;
    height:50px;
}

.tabs:hover, .tabs.active {
    color: #fff;
    background-color: #2d93b2;
}
.flash-notice {
    text-align: center;
}

.success {
    color: green;
}

#edit a, #sing_out a {
    margin-left: 20px;
}
#edit {
     background: url(../images/edit.png) no-repeat;
}
#sing_out {
     background: url(../images/sign_out.png) no-repeat;
}

.info-blue {
    color: #2d93b2;
    background: #dbf1fb;
    padding: 10px 20px;
}

.blue-label {
    color: #9dc1d1;
}

.add-item {
    border: 2px solid #2d93b2;
    padding: 4px;
    margin-right: 10px;
    display:inline-block;
    width:15px;
    height:15px;
    background: url(../images/plus.png) 4px 4px no-repeat;
}

.delete-item {
    border: 2px solid #2d93b2;
    padding: 4px;
    margin-right: 10px;
    display:inline-block;
    width:15px;
    height:15px;
    background: url(../images/min.png) 7px 9px no-repeat;
}

#regions {
    font-size:17px;
    height: auto;
}

.master-id .row, .salon-id .row, .brand-id .row  {
    margin-bottom: 10px;
}

.brand-country {
    padding-bottom: 25px;  
}