html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #444444;
  background: #777777;
  position: relative;
  margin: auto;
}

hr {
  border: none;
  padding: 0;
  height: 1px;
  border-top: 1px solid #7FFF00;
  margin: 20px 0;
}

/* ----- Headings ----- */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

h2 {
  font-size: 20px;
  font-size: 2rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* ----- Tables ----- */
table {
  width: 100%;
}

caption {
  font-weight: bold;
  margin-bottom: .5em;
}

td, th {
  padding: .4em .8em;
  border: 1px solid #e8e8e8;
  text-align: left;
  vertical-align: top;
}
thead td, tfoot td, thead th, tfoot th {
  background-color: #e8e8e8;
}

/* ----- Links ----- */
a:not(.fancybox) {
  color: #008000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover:not(.fancybox-nav):not(.fancybox-close) {
  color: white;
  background-color: #008000;
}

input[type="text"], input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
select,
textarea {
  padding: 5px;
  border: 1px solid #bbbbbb;
  color: #444444;
  background: white;
  -webkit-box-shadow: 0 2px 3px #e8e8e8 inset;
  -moz-box-shadow: 0 2px 3px #e8e8e8 inset;
  box-shadow: 0 2px 3px #e8e8e8 inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input[type="text"].half, input.half[type="password"],
input.half[type="email"],
input.half[type="url"],
input.half[type="tel"],
input.half[type="search"],
input.half[type="color"],
input.half[type="number"],
input.half[type="range"],
input.half[type="date"],
input.half[type="time"],
input.half[type="datetime"],
input.half[type="datetime-local"],
input.half[type="month"],
input.half[type="week"],
select.half,
textarea.half {
  width: 50%;
}
input[type="text"].third, input.third[type="password"],
input.third[type="email"],
input.third[type="url"],
input.third[type="tel"],
input.third[type="search"],
input.third[type="color"],
input.third[type="number"],
input.third[type="range"],
input.third[type="date"],
input.third[type="time"],
input.third[type="datetime"],
input.third[type="datetime-local"],
input.third[type="month"],
input.third[type="week"],
select.third,
textarea.third {
  width: 33%;
}
input[type="text"].quarter, input.quarter[type="password"],
input.quarter[type="email"],
input.quarter[type="url"],
input.quarter[type="tel"],
input.quarter[type="search"],
input.quarter[type="color"],
input.quarter[type="number"],
input.quarter[type="range"],
input.quarter[type="date"],
input.quarter[type="time"],
input.quarter[type="datetime"],
input.quarter[type="datetime-local"],
input.quarter[type="month"],
input.quarter[type="week"],
select.quarter,
textarea.quarter {
  width: 25%;
}

textarea {
  min-height: 150px;
}

button, .button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-block;
  line-height: 1.2;
  border: none;
  color: white ! important;
  background: #008000;
  margin: 5px 0;
  padding: .75em 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}
button:hover, .button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  background-color: #32CD32 ! important;
}

input[type="search"] {
  background: white url(../dev/search-icon.png) no-repeat 10px center;
  padding-left: 30px;
}

/* `header
========================================================================== */
/* ----- Header ----- */
.header-row {
  font-size: 14px;
  font-size: 1.4rem;
  background: white;
  background-image: -ms-linear-gradient(top, white 50%, #fafafa 100%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffffff), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #ffffff 50%, #fafafa 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #fafafa 100%);
  background-image: linear-gradient(top, #ffffff 50%, #fafafa 100%);
  overflow: hidden;
}
.header-row .site-logo {
  float: left;
}
.header-row .login-form {
  float: right;
  width:30%;
}
.header-row .site-logo {
  margin: 5px 0 0;
}

/* `layout
========================================================================== */
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

.main-row,
.secondary-row {
  padding: 30px 0;
  border-top: 1px solid #e8e8e8;
}

.main-row {
  background: white;
}

.secondary-row {
  background: #fbfbfb;
}

.row {
  zoom: 1;
  margin-left: -3%;
}
.row:before, .row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}

.col {
  float: left;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_1 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_2 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_2 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_3 {
  width: 30.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_3 {
  width: 63.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_3 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_4 {
  width: 22%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_4 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_4 {
  width: 72%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_4 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_5 {
  width: 17%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_5 {
  width: 37%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_5 {
  width: 57%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_5 {
  width: 77%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_5_of_5 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_1_of_6 {
  width: 13.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_2_of_6 {
  width: 30.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_3_of_6 {
  width: 47%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_4_of_6 {
  width: 63.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_5_of_6 {
  width: 80.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col_6_of_6 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}

.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* form errors
========================================================================== */
.errors {
    background-color: red;
    color: white;
    border-radius: 10px;
}

.errors ul {
    list-style: none;
}

.errors ul:first-child {
    padding-top: 20px
}

@media only screen and (max-width: 800px) {
  .row {
    zoom: 1;
    margin-left: -3%;
  }
  .row:before, .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }

  .tablet {
    float: left;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_1 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_2 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_2_of_2 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_3 {
    width: 30.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_2_of_3 {
    width: 63.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_3_of_3 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_4 {
    width: 22%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_2_of_4 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_3_of_4 {
    width: 72%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_4_of_4 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_5 {
    width: 17%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_2_of_5 {
    width: 37%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_3_of_5 {
    width: 57%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_4_of_5 {
    width: 77%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_5_of_5 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_1_of_6 {
    width: 13.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_2_of_6 {
    width: 30.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_3_of_6 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_4_of_6 {
    width: 63.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_5_of_6 {
    width: 80.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .tablet_6_of_6 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  .row {
    zoom: 1;
    margin-left: -3%;
  }
  .row:before, .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }

  .mobile {
    float: left;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_1 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_2 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_2_of_2 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_3 {
    width: 30.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_2_of_3 {
    width: 63.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_3_of_3 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_4 {
    width: 22%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_2_of_4 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_3_of_4 {
    width: 72%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_4_of_4 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_5 {
    width: 17%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_2_of_5 {
    width: 37%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_3_of_5 {
    width: 57%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_4_of_5 {
    width: 77%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_5_of_5 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_1_of_6 {
    width: 13.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_2_of_6 {
    width: 30.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_3_of_6 {
    width: 47%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_4_of_6 {
    width: 63.66667%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_5_of_6 {
    width: 80.33333%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }

  .mobile_6_of_6 {
    width: 97%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 3%;
    margin-right: 0;
  }
}
.main-nav li {
  display: inline-block;
}
li {
  list-style-type: none;
}

.main-nav a, .left-nav a {
  padding: 5px 10px;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.hidden {
  display:none;
}

.flash-notice {
  padding:10px;
  text-align: center;
  border: #e8e8e8 solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.flash-notice.success{
  color: green;
}