* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}
html {
    margin: 0 auto;
    background: #ffffff;
}
body {
    position: relative;
    background: #ffffff;
}


.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}  
header {
    height: 161px;
}
#header-row {
    height: 105px;
    background-color: #2d93b2;
}
#logo {
    float: left;
    width:192px ;
    margin:0 87px 0 10px;
    padding-top: 18px;
}
.soc_group {
    float: left;
    margin-top: 23px;
    margin-left: 52px;
    list-style-type: none;
    width: 145px;
    height: 20px;
}
.soc_group li {
    float: left;
}
#f {
margin-right: 28px;
}
#in {
margin-right: 23px;
}
#tw {
margin-right: 16px;
padding-top: 2px;
}
#vk {
padding-top: 3px;
}
#region {float: left;
    width: 177px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font: 12px Comfortaa;
    padding-left: 9px;
    margin-bottom: 12px;
}
#select {float: left;
    margin-left: 11px;
    width: 45px;
    height: 30px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background: url(../images/select.png) 14px 10px no-repeat #2d93b2;
    cursor: pointer;
}
#enter {   float: left;
    margin-top: 23px;
    margin-left: 50px;
    color: #ffffff;
    font:14px Comfortaa;
    text-decoration: none;
}
#reg {
    float: left;
    margin-left: 34px;
    margin-top: 23px;
    color: #ffffff;
    font:14px Comfortaa;
    text-decoration: none;
}
#line2 {
    float: left;
    margin-left: 34px;
    margin-top: 23px;
    height: 14px;
    width: 1px;
    background: #ffffff;
}
#search {
    width: 623px;
    height: 31px;
    background: #ffffff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font: 12px Comfortaa;
    padding-left: 9px;
    margin-right: 11px;
    float: left;
}
#submit {
    width: 46px;
    height: 31px;
    background: url(../images/search.png) 14px 6px no-repeat #2d93b2;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
#form1 {
    width: 233px;
    float: left;
    margin-top: 17px;
}
#form2 {
    width: 680px;
    float: left;
}
nav {
    height: 51px;
    background-color: #6cb55d;
}
nav ul {
    margin-left: 10px;
    padding-top: 14px;
    height: 14px;
    list-style-type: none;
    font:  14px Comfortaa;
    color: #fffefe;
}
nav ul li {
    float: left;
    margin-right: 33px;
}
#line {
    height: 5px;
    background-color: #c2d9b1;
}
h1 {
    font: 28px Comfortaa;
    color: #578fac;
    margin-left: 178px;
    margin-top: 24px;
}
#slide {float: left;
    width:681px ;
    height: 312px;
    border-top: 2px solid #c5c5c5;
    border-right: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
}
section {
    margin-left: 10px;
    margin-top: 23px;
    height: 315px;
}
section ul {
    float: left;
    list-style-type: none;
    height: 314px;
    width: 279px;
}
section ul li a {
    font: 22px Comfortaa;   
    display: block;
    height: 54px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 25px;
}
#brand {
    text-decoration: none;
    display: block;
    height: 51px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 23px;
}
#lorem {
    text-decoration: none;
    display: block;
    height: 55px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
}
section ul li a:hover {
    font: 22px Comfortaa;   
    display: block;
    height: 54px;
    width: 256px;
    background-color: #6cb55d;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 25px;
}
#lorem:hover {
    display: block;
    height: 55px;
    width: 256px;
    background-color: #6cb55d;
    padding-left: 23px;
}
#brand:hover {
    display: block;
    height: 51px;
    background-color: #6cb55d;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 23px;
}
.row {
  margin-left: -3%;
}

.col {
  float: left;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}
.col_1_of_3 {
  width: 30.33333%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}
.col_2_of_3 {
  width: 63.66667%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0;
}
.col_3_of_3 {
  width: 97%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 3%;
  margin-right: 0%;
}
.menu {
    border: 2px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 10px;
}
.sectionName {
    background-color: #6cb55d;
    height: 40px;
    width: 100%+4px;
    padding-top: 10px;
    margin:-2px -2px 0;
}
.sectionName h2, #reklama h2 {
  color: #ffffff;
  text-align: center;
}
h2 {
    font: 18px Comfortaa;secondLi
}
.sectionLine {
    background-color: rgba(194,217,177,0.6);
    height: 5px;
}
.menu ul {
    list-style-type: none;
    height:494px ;
}
.menu ul li {
    float: left;
    width: 50%;
}
.menu ul li a{
    display: block;
    cursor: pointer;
    color: #5d5d5d;
    font: 18px Comfortaa; 
    padding-left: 90px;
}
.menu .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 22px 25px no-repeat;
    padding-top: 31px;
}
.menu .secondLi {
    height: 60px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/up_hair.png) 22px 24px no-repeat;
    padding-top: 35px;
}
.menu .thirdLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/dep.png) 27px 18px no-repeat;
    padding-top: 37px;
}
.menu .fourthLi {
    height: 76px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik3.png) 22px 21px no-repeat;
    padding-top: 24px;
}
.menu .fifthLi {
      height: 62px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 18px 32px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sixthLi {
    height: 62px;
    background: url(../images/pirs.png) 19px 35px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sevenLi {
    height: 60px;
    background: url(../images/manik.png) 22px 35px no-repeat;
    padding-top: 40px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
.menu .eightLi {
    height: 63px;
    background: url(../images/viz3.png) 27px 21px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .nineLi {
    height: 63px;
    background: url(../images/tatu.png) 25px 29px no-repeat;
    padding-top: 35px;
    border-right: 1px dashed #a0a0a0;
}
.menu .tenLi {
    height: 61px;
    background: url(../images/face.png) 30px 26px no-repeat;
    padding-top: 37px;
}
#reklama {
    background-color: #2690af;
    height: 37px;
    text-align: center;
    padding-top: 13px;
    margin-top: 20px;
}
.sectionLineReklama {
    background-color: rgba(171,199,213,0.6);
    height: 5px;
}
#kosmetika .firstLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/hair.png) 26px 18px no-repeat;
    padding-top: 32px;
}
#kosmetika .secondLi {
    height: 75px;
    border-bottom: 1px dashed #a0a0a0;
    background: none;
    background: url(../images/upHair.png) 26px 18px no-repeat;
    padding-top: 20px;
}
#kosmetika .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/face2.png) 35px 21px no-repeat;
    padding-top: 38px;
}
#kosmetika .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik2.png) 27px 19px no-repeat;
    padding-top: 13px;
}
#kosmetika .fifthLi {
      height: 65px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/body.png) 24px 24px no-repeat;
    padding-top: 36px;
}
#kosmetika .sixthLi {
    height: 64px;
    background: url(../images/foot.png) 29px 19px no-repeat;
    padding-top: 37px;
}
#kosmetika .sevenLi {
    height: 75px;
    background: none;
    padding-top: 25px;
    background: url(../images/forTatoo.png) 29px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .eightLi {
    height: 74px;
    background: none;
    padding-top: 26px;
    background: url(../images/upResn.png) 29px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
}
#kosmetika .nineLi {
    height: 61px;
    background: url(../images/decor.png) 21px 32px no-repeat;
    padding-top: 37px;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .tenLi {
    height: 61px;
    background: url(../images/pirs2.png) 23px 27px no-repeat;
    padding-top: 37px;
}
#instr .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 22px 25px no-repeat;
    padding-top: 31px;
}
#instr .secondLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz2.png) 26px 14px no-repeat;
    padding-top: 32px;
}
#instr .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/kosm.png) 21px 26px no-repeat;
    padding-top: 38px;
}
#instr .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz.png) 26px 25px no-repeat;
    padding-top: 13px;
}
#instr .fifthLi {
      height: 64px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 18px 32px no-repeat;
    padding-top: 36px;
}
#instr .sixthLi {
    height: 75px;
    background: url(../images/tatu2.png) 13px 25px no-repeat;
    padding-top: 25px;
}
#instr .sevenLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    background: url(../images/forDep.png) 29px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#instr .eightLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/pirs.png) 19px 37px no-repeat;
}
#instr .nineLi {
    height: 68px;
    background: url(../images/up_hair2.png) 37px 22px no-repeat;
    padding-top: 32px;
    border-right: 1px dashed #a0a0a0;
}
#instr .tenLi {
    height: 73px;
    background: url(../images/up_res.png) 20px 21px no-repeat;
    padding-top: 27px;
}
.reklama {
    margin-top: 20px;
    width: 100%;
}
.clear-bottom {
    clear: both;
    height: 220px;
}
footer {
    position:relative;
    margin-top: -200px;
    background-color: #2690af;
    height: 200px;
}
footer .footerLine {
    height: 5px;
    background-color: #417897;
}

footer nav {
    height: 51px;
    background-color: #2690af;
}
footer > nav > ul {
    margin-left: 100px;
    height: 14px;
    list-style-type: none;
    font:  14px Comfortaa;
    color: #fffefe;
    margin-top: 13px;
}
footer > nav ul li {
    float: left;
    margin-right: 33px;
}
footer .soc_group{
    margin: 10px 0 23px 417px;
}
footer p {
    clear: both;
    color: #ffffff;
    text-align: center;
    font:  12px Arial;
}