* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none!important;
    color: #57b0cb;
}
html {
    margin: 0 auto;
    background: #fff;
}
body {
    font-family: 'Comfortaa';
    font-size: 13px;
    line-height: 1.3;
    position: relative;
    background: #fff;
    padding: 0!important;
    color: #5d5d5d;
    letter-spacing: -.2px
}
ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

h1 {
    font-size: 26px;
    letter-spacing: -.5px;
    margin: 20px 0 30px;
}

h1#main {
    text-transform: uppercase;
    color: #578fac;
    text-align: center;
}
h2 {
    font-size: 17px;
}
.section-title {
    font-size: 22px;
    text-decoration: underline;
    color: #578fac;
    margin: 0 0 25px;
}
.section-title.labeled {
    position: relative;
}

.title-label {
    position: absolute;
    top: 6px;
    left: -40px;
    font-size: 11px;
    padding: 1px 5px 2px;
    background: #ed1c24;
    color: #fff;
    font-weight: 400;
}

.title-label:after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    border: 9px solid transparent;
    border-left: 8px solid #ed1c24;
}

.btn {
    background: #57b0cb;
    border: 1px solid #57b0cb;
    border-radius: 0;
    box-shadow: none;
    min-width: 110px;
    padding: 4px 10px;
    color: #fff;
    outline: 0;
}

.btn:hover,
.btn:focus {
    background: #fff;
    color: #57b0cb;
}

.holder {
    margin: 0 0 35px;
}

.video-content {
    display: block;
    position: relative;
}

.video-content:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
}

.video-content:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -4px;
    border: 7px solid transparent;
    border-left: 11px solid #000;
}

.facebook-area {
    margin: 20px 0 0;
}

.icon {
    display: inline-block;
    vertical-align: top;
    background: url(../images/social-icons.png) no-repeat;
}

.icon-mail {
    width: 18px;
    height: 16px;
    background-position: 0 0;
}

.icon-facebook {
    width: 26px;
    height: 26px;
    background-position: -25px 0;
}

.icon-youtube {
    width: 27px;
    height: 26px;
    background-position: -57px 0;
}

.icon-share {
    width: 12px;
    height: 10px;
    background-position: -120px 0;
}

.icon-instagram {
    width: 24px;
    height: 24px;
    background-position: -89px 0;
}

header {
    background-color: #2d93b2;
}

header a {
    color: #fff;
}

header a:hover {
    color: #fff;
}

#logo {
    padding-top: 18px;
}
.social-links {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.social-links li {
    line-height: 1.3;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.social-links li.mail {
    margin-right: 10px;
    max-width: 95px;
}

.social-links li.mail span {
    display: block;
    overflow: hidden;
    text-align: left;
}

.social-links li.mail i {
    float: left;
    margin-right: 3px;
}

.social-links li a {
    display: block;
}
.social {
    text-align: center;
}
.soc_group {
    margin-top: 23px;
    margin-left: 52px;
    list-style-type: none;
    height: 20px;
    display: inline-block;
}
.soc_group li {
    float: left;
}
#f {
margin-right: 28px;
}
#in {
margin-right: 23px;
}
#tw {
margin-right: 16px;
padding-top: 2px;
}
#vk {
padding-top: 3px;
}
form {
    margin: 0;
}
#region {
    float: left;
    width: 74%;
    height: 30px;
    background: #fff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font-size: 11px;
    padding-left: 9px;
    margin-bottom: 12px;
}
#select {
    margin-left: 11px;
    height: 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background: url(../images/select.png) 14px 10px no-repeat #2d93b2;
    cursor: pointer;
}
#login {
    padding-top: 23px;
    height: 30px;
    margin: 0 0 20px;
}
#enter {
    float: left;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
}
#reg {
    float: left;
    margin-left: 34px;
    color: #fff;
    text-decoration: none;
}
#line2 {
    float: left;
    margin-left: 34px;
    height: 14px;
    width: 1px;
    background: #fff;
}
#search {
    width: 80%;
    height: 31px;
    background: #fff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font-size: 11px;
    padding-left: 9px;
    margin-right: 11px;
    float: left;
}
#submit {
    height: 31px;
    background: url(../images/search.png) 14px 6px no-repeat #2d93b2;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
#form-regions {
    float: left;
    margin-top: 17px;
}
#form2 {
    clear: both;
}
.nav {
    min-height: 51px;
    background-color: #6cb55d;
    color: #fff;
    margin: 0;
}
.nav a {
    color: #fff;
}
.nav ul {
    text-align: center;
    padding-top: 14px;
    list-style-type: none;
}
.nav ul li {
    display: inline-block;
    margin-right: 33px;
}

ul.dropdown-menu li {
    margin-right: 0px;
}

#line {
    height: 5px;
    background-color: #c2d9b1;
}
#slide {float: left;
    width:681px ;
    height: 312px;
    border: 2px solid #c5c5c5;
    border-left: 0;
}
#brand {
    text-decoration: none;
    display: block;
    height: 51px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 23px;
}
#lorem {
    text-decoration: none;
    display: block;
    height: 55px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
}
#lorem:hover {
    background-color: #6cb55d;
}
#brand:hover {
    background-color: #6cb55d;
}
.menu {
    border: 2px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 10px;
}
.sectionName {
    background-color: #6cb55d;
    height: 40px;
    padding-top: 10px;
    margin:-2px -2px 0;
}
.sectionName h2, #reklama h2 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  margin-top: 4px;
}
.sectionLine {
    background-color: rgba(194,217,177,0.6);
    height: 5px;
}
.menu ul {
    list-style-type: none;
    min-height:494px ;
}
.menu ul li {
    float: left;
    width: 50%;
}
ul li a.active {
  color: #005580;
  text-decoration: underline;
}

ul li ul li a.active {
  color: #005580;
  text-decoration: underline;
}

.menu ul li a{
    display: block;
    cursor: pointer;
    color: #5d5d5d;
    font-size: 16px;
    padding-left: 90px;
    padding-right: 5px;
}
.menu .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 20px 25px no-repeat;
    padding-top: 31px;
}
.menu .secondLi {
    height: 60px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/up_hair.png) 20px 24px no-repeat;
    padding-top: 35px;
}
.menu .thirdLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/dep.png) 25px 18px no-repeat;
    padding-top: 37px;
}
.menu .fourthLi {
    height: 76px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik3.png) 20px 21px no-repeat;
    padding-top: 24px;
}
.menu .fifthLi {
      height: 62px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 16px 32px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sixthLi {
    height: 62px;
    background: url(../images/pirs.png) 17px 35px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sevenLi {
    height: 60px;
    background: url(../images/manik.png) 20px 35px no-repeat;
    padding-top: 40px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
.menu .eightLi {
    height: 63px;
    background: url(../images/viz3.png) 25px 21px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .nineLi {
    height: 63px;
    background: url(../images/tatu.png) 23px 29px no-repeat;
    padding-top: 35px;
    border-right: 1px dashed #a0a0a0;
}
.menu .tenLi {
    height: 61px;
    background: url(../images/face.png) 28px 26px no-repeat;
    padding-top: 37px;
}
#reklama {
    background-color: #2690af;
    height: 37px;
    text-align: center;
    padding-top: 13px;
    margin-top: 20px;
}
.sectionLineReklama {
    background-color: rgba(171,199,213,0.6);
    height: 5px;
}
#kosmetika .firstLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/hair.png) 24px 18px no-repeat;
    padding-top: 32px;
}
#kosmetika .secondLi {
    height: 75px;
    border-bottom: 1px dashed #a0a0a0;
    background: none;
    background: url(../images/upHair.png) 24px 18px no-repeat;
    padding-top: 20px;
}
#kosmetika .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/face2.png) 33px 21px no-repeat;
    padding-top: 38px;
}
#kosmetika .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik2.png) 25px 19px no-repeat;
    padding-top: 13px;
}
#kosmetika .fifthLi {
      height: 65px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/body.png) 22px 24px no-repeat;
    padding-top: 36px;
}
#kosmetika .sixthLi {
    height: 64px;
    background: url(../images/foot.png) 27px 19px no-repeat;
    padding-top: 37px;
}
#kosmetika .sevenLi {
    height: 75px;
    background: none;
    padding-top: 25px;
    background: url(../images/forTatoo.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .eightLi {
    height: 74px;
    background: none;
    padding-top: 26px;
    background: url(../images/upResn.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
}
#kosmetika .nineLi {
    height: 61px;
    background: url(../images/decor.png) 19px 32px no-repeat;
    padding-top: 37px;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .tenLi {
    height: 61px;
    background: url(../images/pirs2.png) 21px 27px no-repeat;
    padding-top: 37px;
}
#instr .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 20px 25px no-repeat;
    padding-top: 31px;
}
#instr .secondLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz2.png) 24px 14px no-repeat;
    padding-top: 32px;
}
#instr .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/kosm.png) 19px 26px no-repeat;
    padding-top: 38px;
}
#instr .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz.png) 24px 25px no-repeat;
    padding-top: 13px;
}
#instr .fifthLi {
      height: 64px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 16px 32px no-repeat;
    padding-top: 36px;
}
#instr .sixthLi {
    height: 75px;
    background: url(../images/tatu2.png) 11px 25px no-repeat;
    padding-top: 25px;
}
#instr .sevenLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    background: url(../images/forDep.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#instr .eightLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/pirs.png) 17px 37px no-repeat;
}
#instr .nineLi {
    height: 68px;
    background: url(../images/up_hair2.png) 35px 22px no-repeat;
    padding-top: 32px;
    border-right: 1px dashed #a0a0a0;
}
#instr .tenLi {
    height: 73px;
    background: url(../images/up_res.png) 18px 21px no-repeat;
    padding-top: 27px;
}
.reklama {
    margin-top: 20px;
    width: 100%;
}
.clear-bottom {
    clear: both;
    height: 220px;
}

/*Media*/
.media {
    margin: 0 0 20px;
}

.media .section-title {
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 10px 5px;
    margin: 0 0 10px;
}

.media-slider {
    margin: 0 -5px;
}

.media-slider.slick-slider .slick-next {
    right: 0;
}
.media-slider.slick-slider .slick-prev {
    left: 0;
}

.media-slider.slick-slider .slick-arrow {
    background: #fff;
    border: 1px solid #e1e1e1;
    top: 50%;
    margin-top: -20px;
}

.media-slider-item {
    margin: 0 5px;
    width: 320px;
}

.media-slider-img {
    display: block;
    margin: 0 0 10px;
}

.media-slider-content {
    padding: 0 13px;
}

.media-slider-title a {
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    color: #181818;
}

.media-slider-title a:hover {
    color: #578fac;
}

.media-slider-text {
    margin: 0 0 5px;
    font-size: 12px;
    color: #181818;
}

.media-slider-bottom {
    padding: 5px 0;
    border-top: 1px solid #e1e1e1;
    font-size: 10px;
    color: #181818;
}

.media-slider-date {
    float: left;
}

.media-slider-share {
    float: right;
}

.media-slider-share .icon {
    margin-right: 5px;
}

/*top news*/

.top-news {
    margin: 0 0 50px;
}

.top-news .span7 {
    padding-right: 20px;
}

.top-news-img {
    margin: 0 0 30px;
}

.is-bigger .top-news-img {
    margin: 0 0 13px;
}

.top-news-img img {
    width: 100%;
    height: auto;
}

.top-news-item {
    margin: 0 0 5px;
}

.top-news-item.is-horizontal img {
    max-width: 106px;
    float: left;
    margin-right: 10px;
}

.top-news-item img {
    margin: 0 0 5px;
    width: 100%;
    height: auto;
}

.top-news-item-text {
    overflow: hidden;
}

.item-title {
    padding: 0 5px;
    margin: 0 0 3px;
    font-size: 14px;
    color: #181818;
}

.item-title a {
    color: #181818;
}

.item-title a:hover {
    color: #2d93b2;
}

.top-news-date {
    padding: 0 5px;
    font-size: 10px;
    color: #626262;
}

/*product section*/
.product-item {
    padding: 0 20px;
    margin: 0 0 35px;
}
.product-item-img {
    padding: 0 0 5px;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 0 10px;
    text-align: center;
}
.product-btn-row {
    text-align: center;
}

/*masters*/
.masters-item {
    margin: 0 0 15px;
    padding: 0 5px 10px;
    border-bottom: 1px solid #e1e1e1;
}

.masters-item:last-child {
    border: 0;
}

.masters-item-img {
    float: left;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 13px 8px 0;
}

.masters-item-img img {
    border-radius: 50%;
}

.masters-item-info {
    overflow: hidden;
    padding-left: 20px
}

.masters-item-title {
    font-size: 17px;
    color: #1f6b82;
    margin: 0;
}

.masters-item-title.starred {
    position: relative;
}

.masters-item-title.starred:before {
    content: "";
    position: absolute;
    top: 2px;
    left: -21px;
    width: 18px;
    height: 16px;
    background: url("../images/icon-star.png") no-repeat 50% 50%;
}

.masters-item-profession {
    margin: 0 0 15px;
}

/*discount item*/
.discount-section {
    padding-left: 10px;
}
.discount-section h2 {
    text-align: center;
    padding-left: 10px;
}
.discounts-item {
    margin: 0 0 20px;
}
.discounts-item-img {
    text-align: center;
    margin: 0 0 7px;
}
.discounts-item-description {
    font-size: 13px;
    line-height: 1.2;
}

/*info-block*/
.info-block {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #e1e1e1;
}

.info-block:last-child {
    border: 0;
}

.info-block-img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 13px 0 0;
}

.info-block-description {
    color: #5e5e5e;
}

.info-block-img img {
    width: 100%;
    height: auto;
}

.info-block-title {
    font-size: 17px;
    margin: 0;
    color: #181818;
    line-height: 1.2;
}

/*gallery*/
.gallery-wrap {
    padding: 0 30px;
}
.gallery .top-news-item {
    padding: 0 5px;
    width: 106px;
}
.slick-slider .slick-arrow {
    position: absolute;
    top: 5%;
    width: 0;
    height: 40px;
    padding: 7px 15px 5px 15px;
    border: 0;
    text-indent: -999px;
    z-index: 2;
    cursor: pointer;
    background: none;
    color: transparent;
    outline: none;
    transition: all 200ms ease;
}
.slick-slider .slick-next {
    right: -30px;
}
.slick-slider .slick-prev {
    left: -30px;
}
.slick-slider .slick-arrow:before,
.slick-slider .slick-arrow:after {
    background: #d9d9d9;
    content: '';
    display: block;
    height: 20px;
    width: 3px;
    border-radius: 2px;
}
.slick-slider .slick-next:before {
    content: '';
    transform: translateY(10px) rotate(45deg);
}
.slick-slider .slick-next:after {
    content: '';
    transform: translateY(-39px) translateX(0) rotate(-45deg);
}
.slick-slider .slick-prev:before {
    content: '';
    transform: translateY(10px) rotate(-45deg);
}
.slick-slider .slick-prev:after {
    content: '';
    transform: translateY(-39px) translateX(0) rotate(45deg);
}
.slick-slider .slick-disabled {
    visibility: hidden;
    opacity: 0;
}

/*adverts*/
.advert-wrap .btn {
    margin: 0 0 40px;
    min-width: 160px;
}

.advert {
    margin: 0 0 35px;
    position: relative;
    transition: height 3s ease;
    padding-bottom: 20px;
}

.advert:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.advert-holder {
    overflow: hidden;
}

.advert-info {
    overflow: hidden;
    max-width: 470px;
}

.advert-img {
    float: left;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 43px 10px 0;
}

.advert h3 {
    font-size: 17px;
    margin: 0 0 15px;
    color: #181818;
}

.advert-descr {
    color: #5e5e5e;
    line-height: 1.25;
}

.advert-contacts {
    margin: 0 0 10px;
}

.advert-contacts a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
}

.advert-contacts a:last-child {
    margin-right: 0;
}

.advert .opener,
.advert .closer {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #fff;
    z-index: 10;
}

.advert-holder.opened .closer {
    display: block;
}

.advert-holder.opened .opener {
    display: none;
}

.advert-holder .closer {
    display: none;
}

/*pagination*/
.pagination span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    text-align: center;
}

.pagination span a {
    display: inline-block;
    border: 1px solid #57b0cb;
    padding: 5px;
    background: #fff;
    color: #57b0cb;
    min-width: 20px;
}

.pagination span a:hover {
    background: #57b0cb;
    color: #fff;
}

.pagination .current {
    display: inline-block;
    background: #57b0cb;
    padding: 5px;
    color: #fff;
    min-width: 20px;
}

/*sidebar*/

.sidebar-section {
    margin: 0 0 15px;
}

.sidebar-section-title {
    background: #2d93b2;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.sidebar-section-title h2 {
    letter-spacing: -.5px;
    margin: 0;
}

.sidebar-section-content {
    border: 1px solid #e1e1e1;
    padding: 0 5px;
}

.sidebar-section-content .read-more {
    font-size: 12px;
}

.sidebar-section-content .top-news {
    margin: 0;
}

.sidebar-section-content .see-all-row {
    padding: 15px 0 20px;
    text-align: center;
}

.sidebar-section-content .top-news-item.is-horizontal img{
    border-radius: 3px;
    max-width: 50px;
    margin-bottom: 0;
}

.sidebar-section-content .top-news-item.is-horizontal {
    padding: 18px 10px 13px;
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
}

.sidebar-section-content .top-news-item {
    padding: 10px 3px;
    margin: 0;
}

.sidebar-section-content .top-news-item:last-child {
    border: 0;
}

.sidebar-ad {
    margin: 0 -5px 15px;
}

.sidebar-ad img {
    width: 100%;
    height: auto;
}

.footer {
    position:relative;
    background-color: #2d93b2;
    font-size: 11px;
    color: #fff;
    padding: 10px 0 15px;
    min-height: 200px;
}

.footer-nav {

}
.footer-nav ul {
    list-style-type: none;
    margin: 0 0 15px;
}
.footer-nav li {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding-right: 10px;
    margin: 0 0 2px;
}

.footer-nav a {
    color: #fff;
}

.footer-copy {
    display: inline-block;
    margin: 0 30px 0 0;
}

.footer-area {
    padding: 20px 0;
    border-right: 1px solid #44a2be;
}

.footer-left {
    float: left;
    width: 35%;
    padding-right: 20px;
    margin-right: 30px;
}

.footer-right {
    padding: 25px 0;
    line-height: 1.8;
}

.footer .metrics {
    text-align: center;
    margin: 20px 0 10px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  .menu .fourthLi {
height: 90px;
padding-top: 10px;
}
}

@media (max-width: 980px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
    #form1 {
    float: none;
    }
    #login {
        padding-top: 0;
    }
    #region {
    margin-bottom: 0;
    width: 40%;
    }
    #enter {
    margin-left: 0;
    }
    .menu .fourthLi, #kosmetika .fourthLi, #instr .fourthLi {
    height: 90px;
    padding-top: 10px;
    }
    .menu ul li a {
    font-size: 14px;
    padding-left: 80px;
    }
}

@media (max-width: 480px) {
    #search {
    width: 64%;
    }
    #region {
    width: 64%;
    }
    .menu ul li a {
    font-size: 12px;
    padding-left: 60px;
    }
    .menu .fourthLi, #kosmetika .fourthLi, #instr .fourthLi {
    height: 80px;
    padding-top: 20px;
    }
    .menu .firstLi {
        background: url(../images/parik.png) 10px 25px no-repeat;
    }
    .menu .secondLi {
        background: url(../images/up_hair.png) 15px 24px no-repeat;
    }
    .menu .thirdLi {
        background: url(../images/dep.png) 15px 18px no-repeat;
    }
    .menu .fourthLi {
        background: url(../images/manik3.png) 10px 21px no-repeat;
    }
    .menu .fifthLi {
        background: url(../images/mass.png) 9px 32px no-repeat;
        padding-left: 67px;
    }
    .menu .sixthLi {
        background: url(../images/pirs.png) 9px 35px no-repeat;
        padding-left: 67px;
    }
    .menu .sevenLi {
        background: url(../images/manik.png) 10px 35px no-repeat;
        padding-left: 57px;
    }
    .menu .eightLi {
        background: url(../images/viz3.png) 15px 21px no-repeat;
    }
    .menu .nineLi {
        background: url(../images/tatu.png) 13px 29px no-repeat;
        padding-left: 67px;
    }
}
.menu .tenLi {
    background: url(../images/face.png) 18px 26px no-repeat;
}
#kosmetika .firstLi {
    background: url(../images/hair.png) 14px 18px no-repeat;
}
#kosmetika .secondLi {
    background: url(../images/upHair.png) 14px 18px no-repeat;
}
#kosmetika .thirdLi {
    background: url(../images/face2.png) 23px 21px no-repeat;
}
#kosmetika .fourthLi {
    background: url(../images/manik2.png) 15px 19px no-repeat;
}
#kosmetika .fifthLi {
    background: url(../images/body.png) 12px 24px no-repeat;
}
#kosmetika .sixthLi {
    background: url(../images/foot.png) 17px 19px no-repeat;
}
#kosmetika .sevenLi {
    background: url(../images/forTatoo.png) 17px 19px no-repeat;
}
#kosmetika .eightLi {
    background: url(../images/upResn.png) 17px 19px no-repeat;
}
#kosmetika .nineLi {
    background: url(../images/decor.png) 10px 32px no-repeat;
}
#kosmetika .tenLi {
    background: url(../images/pirs2.png) 11px 27px no-repeat;
}
#instr .firstLi {
    background: url(../images/parik.png) 10px 25px no-repeat;
}
#instr .secondLi {
    background: url(../images/viz2.png) 14px 14px no-repeat;
}
#instr .thirdLi {
    background: url(../images/kosm.png) 10px 26px no-repeat;
}
#instr .fourthLi {
    background: url(../images/viz.png) 14px 25px no-repeat;
}
#instr .fifthLi {
    background: url(../images/mass.png) 9px 32px no-repeat;
}
#instr .sixthLi {
    background: url(../images/tatu2.png) 6px 25px no-repeat;
}
#instr .sevenLi {
    background: url(../images/forDep.png) 17px 19px no-repeat;
}
#instr .eightLi {
    background: url(../images/pirs.png) 7px 37px no-repeat;
}
#instr .nineLi {
    background: url(../images/up_hair2.png) 25px 22px no-repeat;
}
#instr .tenLi {
    background: url(../images/up_res.png) 9px 21px no-repeat;
}



 #main_custom {
    position: absolute;
    padding-right: 5px;
    top: 150px;
    background: #fff;;
    border: 1px solid #c5c5c5;
    margin: 20px;
    box-shadow: 4px 3px 16px 0px #4b8349;
    height: auto;
 }

 #brand_custom {
    position: absolute;
    background: #fff;;
    border: 1px solid #c5c5c5;
    margin: 20px;
 }

 #category_custom {
    position: absolute;
    background: #fff;;
    border: 1px solid #c5c5c5;
    margin: 20px;
 }

 #sub_cat_custom {
    position: absolute;
    background: #fff;;
    border: 1px solid #c5c5c5;
    margin: 20px;
 }

 .sub_cat_custom {
    position: absolute;
    background: #fff;;
    border: 1px solid #c5c5c5;
    margin: 20px;
 }

 .sub_menu:not(#main_menu) {
    padding-left: 20px;
    padding-bottom: 7px;
    padding-right: 5px;
    margin: 5px;
    float: left;
    box-shadow: 4px 3px 16px 0px #4b8349;
    height: auto;
    max-width: 270px;
 }

 .sub_menu ul li {
     display: block;
     text-align: left;
 }
 .sub_menu ul li.active a {
  color: #0088cc;
  }

 .sub_menu ul li a {
   color: #5d5d5d;
 }



@media (max-width: 320px) {
.menu ul li a, .tenLi {
    font-size: 10px!important;
}
}