* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none!important;
    color: #ffffff;
}
p {
    margin: 0;
}
html {
    margin: 0 auto;
    background: #ffffff;
}
body {
    position: relative;
    background: #ffffff;
    padding: 0!important;
    color: #5d5d5d;
}
ul {
    margin: 0;
}
header {
    background-color: #2d93b2;
}
#logo {
    padding-top: 18px;
}
.social {
    text-align: center;
}
.soc_group {
    margin-top: 23px;
    margin-left: 52px;
    list-style-type: none;
    height: 20px;
    display: inline-block;
}
.soc_group li {
    float: left;
}
#f {
margin-right: 28px;
}
#in {
margin-right: 23px;
}
#tw {
margin-right: 16px;
padding-top: 2px;
}
#vk {
padding-top: 3px;
}
form {
    margin: 0;
}
#region {float: left;
    width: 74%;
    height: 30px;
    background: #ffffff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font: 12px Comfortaa Regular;
    padding-left: 9px;
    margin-bottom: 12px;
}
#select {
    margin-left: 11px;
    height: 30px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background: url(../images/select.png) 14px 10px no-repeat #2d93b2;
    cursor: pointer;
}
#login {
    padding-top: 23px;
    height: 30px;
}
#enter {   float: left;
    margin-left: 50px;
    color: #ffffff;
    font:14px Comfortaa Regular;
    text-decoration: none;
}
#reg {
    float: left;
    margin-left: 34px;
    color: #ffffff;
    font:14px Comfortaa Regular;
    text-decoration: none;
}
#line2 {
    float: left;
    margin-left: 34px;
    height: 14px;
    width: 1px;
    background: #ffffff;
}
#search {
    width: 80%;
    height: 31px;
    background: #ffffff;
    border: 2px solid #3a6b85;
    box-sizing: border-box;
    color: #b9b9b9;
    font: 12px Comfortaa Regular;
    padding-left: 9px;
    margin-right: 11px;
    float: left;
}
#submit {
    height: 31px;
    background: url(../images/search.png) 14px 6px no-repeat #2d93b2;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
#form-regions {
    float: left;
    margin-top: 17px;
}
#form2 {
    clear: both;
}
nav {
    min-height: 51px;
    background-color: #6cb55d;
}
nav ul {
    text-align: center;
    padding-top: 14px;
    list-style-type: none;
    font:  14px Comfortaa Regular;
    color: #fffefe;
}
nav ul li {
    display: inline-block;
    margin-right: 33px;
}

nav ul li ul li {
    display: inline-block;
    margin-right: 0px;
}

#line {
    height: 5px;
    background-color: #c2d9b1;
}
h1 {
    font: 28px Comfortaa Regular;
    color: #578fac;
    margin-left: 178px;
    margin-top: 24px;
}
#slide {float: left;
    width:681px ;
    height: 312px;
    border-top: 2px solid #c5c5c5;
    border-right: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
}
section {
    margin-left: 10px;
    margin-top: 23px;
    height: 315px;
}
section ul {
    float: left;
    list-style-type: none;
    height: 314px;
    width: 279px;
}
section ul li a {
    font: 22px Comfortaa Regular;   
    display: block;
    height: 54px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 25px;
}
#brand {
    text-decoration: none;
    display: block;
    height: 51px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 23px;
}
#lorem {
    text-decoration: none;
    display: block;
    height: 55px;
    width: 256px;
    background-color: #2690af;
    padding-left: 23px;
}
section ul li a:hover {
    font: 22px Comfortaa Regular;   
    display: block;
    height: 54px;
    width: 256px;
    background-color: #6cb55d;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 25px;
}
#lorem:hover {
    display: block;
    height: 55px;
    width: 256px;
    background-color: #6cb55d;
    padding-left: 23px;
}
#brand:hover {
    display: block;
    height: 51px;
    background-color: #6cb55d;
    padding-left: 23px;
    margin-bottom:1px;
    padding-top: 23px;
}
.menu {
    border: 2px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 10px;
}
.sectionName {
    background-color: #6cb55d;
    height: 40px;
    width: 100%+4px;
    padding-top: 10px;
    margin:-2px -2px 0;
}
.sectionName h2, #reklama h2 {
  color: #ffffff;
  text-align: center;
}
h2 {
    font: 18px Comfortaa Regular;secondLi
}
.sectionLine {
    background-color: rgba(194,217,177,0.6);
    height: 5px;
}
.menu ul {
    list-style-type: none;
    min-height:494px ;
}
.menu ul li {
    float: left;
    width: 50%;
}
ul li a.active {
  color: #005580;
  text-decoration: underline;
}

ul li ul li a.active {
  color: #005580;
  text-decoration: underline;
}

.menu ul li a{
    display: block;
    cursor: pointer;
    color: #5d5d5d;
    font: 18px Comfortaa Regular; 
    padding-left: 90px;
    padding-right: 5px;
}
.menu .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 20px 25px no-repeat;
    padding-top: 31px;
}
.menu .secondLi {
    height: 60px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/up_hair.png) 20px 24px no-repeat;
    padding-top: 35px;
}
.menu .thirdLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/dep.png) 25px 18px no-repeat;
    padding-top: 37px;
}
.menu .fourthLi {
    height: 76px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik3.png) 20px 21px no-repeat;
    padding-top: 24px;
}
.menu .fifthLi {
      height: 62px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 16px 32px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sixthLi {
    height: 62px;
    background: url(../images/pirs.png) 17px 35px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .sevenLi {
    height: 60px;
    background: url(../images/manik.png) 20px 35px no-repeat;
    padding-top: 40px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
.menu .eightLi {
    height: 63px;
    background: url(../images/viz3.png) 25px 21px no-repeat;
    padding-top: 37px;
    border-bottom: 1px dashed #a0a0a0;
}
.menu .nineLi {
    height: 63px;
    background: url(../images/tatu.png) 23px 29px no-repeat;
    padding-top: 35px;
    border-right: 1px dashed #a0a0a0;
}
.menu .tenLi {
    height: 61px;
    background: url(../images/face.png) 28px 26px no-repeat;
    padding-top: 37px;
}
#reklama {
    background-color: #2690af;
    height: 37px;
    text-align: center;
    padding-top: 13px;
    margin-top: 20px;
}
.sectionLineReklama {
    background-color: rgba(171,199,213,0.6);
    height: 5px;
}
#kosmetika .firstLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/hair.png) 24px 18px no-repeat;
    padding-top: 32px;
}
#kosmetika .secondLi {
    height: 75px;
    border-bottom: 1px dashed #a0a0a0;
    background: none;
    background: url(../images/upHair.png) 24px 18px no-repeat;
    padding-top: 20px;
}
#kosmetika .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/face2.png) 33px 21px no-repeat;
    padding-top: 38px;
}
#kosmetika .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/manik2.png) 25px 19px no-repeat;
    padding-top: 13px;
}
#kosmetika .fifthLi {
      height: 65px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/body.png) 22px 24px no-repeat;
    padding-top: 36px;
}
#kosmetika .sixthLi {
    height: 64px;
    background: url(../images/foot.png) 27px 19px no-repeat;
    padding-top: 37px;
}
#kosmetika .sevenLi {
    height: 75px;
    background: none;
    padding-top: 25px;
    background: url(../images/forTatoo.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .eightLi {
    height: 74px;
    background: none;
    padding-top: 26px;
    background: url(../images/upResn.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
}
#kosmetika .nineLi {
    height: 61px;
    background: url(../images/decor.png) 19px 32px no-repeat;
    padding-top: 37px;
    border-right: 1px dashed #a0a0a0;
}
#kosmetika .tenLi {
    height: 61px;
    background: url(../images/pirs2.png) 21px 27px no-repeat;
    padding-top: 37px;
}
#instr .firstLi {
    height: 64px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/parik.png) 20px 25px no-repeat;
    padding-top: 31px;
}
#instr .secondLi {
    height: 63px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz2.png) 24px 14px no-repeat;
    padding-top: 32px;
}
#instr .thirdLi {
      height: 62px;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/kosm.png) 19px 26px no-repeat;
    padding-top: 38px;
}
#instr .fourthLi {
    height: 87px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/viz.png) 24px 25px no-repeat;
    padding-top: 13px;
}
#instr .fifthLi {
      height: 64px;
    border-right: 1px dashed #a0a0a0;
    background: url(../images/mass.png) 16px 32px no-repeat;
    padding-top: 36px;
}
#instr .sixthLi {
    height: 75px;
    background: url(../images/tatu2.png) 11px 25px no-repeat;
    padding-top: 25px;
}
#instr .sevenLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    background: url(../images/forDep.png) 27px 19px no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    border-right: 1px dashed #a0a0a0;
}
#instr .eightLi {
    height: 63px;
    background: none;
    padding-top: 35px;
    border-bottom: 1px dashed #a0a0a0;
    background: url(../images/pirs.png) 17px 37px no-repeat;
}
#instr .nineLi {
    height: 68px;
    background: url(../images/up_hair2.png) 35px 22px no-repeat;
    padding-top: 32px;
    border-right: 1px dashed #a0a0a0;
}
#instr .tenLi {
    height: 73px;
    background: url(../images/up_res.png) 18px 21px no-repeat;
    padding-top: 27px;
}
.reklama {
    margin-top: 20px;
    width: 100%;
}
.clear-bottom {
    clear: both;
    height: 220px;
}
footer {
    position:relative;
    background-color: #2690af;
    min-height: 200px;
}
footer .footerLine {
    height: 5px;
    background-color: #417897;
}

footer nav {
    height: 51px;
    background-color: #2690af;
}
footer > nav > ul {
    margin-left: 100px;
    height: 14px;
    list-style-type: none;
    font:  14px Comfortaa Regular;
    color: #fffefe;
    margin-top: 13px;
}
footer > nav ul li {
    float: left;
    margin-right: 33px;
}
footer .soc_group{
    margin: 10px 0 23px;
}
footer p {
    clear: both;
    color: #ffffff;
    text-align: center;
    font:  12px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  .menu .fourthLi {
height: 90px;
padding-top: 10px;
}
}
 
@media (max-width: 980px) {
  
}

@media (max-width: 768px) {

}
 
@media (max-width: 600px) {
#form1 {
float: none;
}
#login {
    padding-top: 0;
}
#region {
margin-bottom: 0;
width: 40%;
}
#enter {
margin-left: 0;
}
.menu .fourthLi, #kosmetika .fourthLi, #instr .fourthLi {
height: 90px;
padding-top: 10px;
}
.menu ul li a {
font: 16px Comfortaa Regular;
padding-left: 80px;
}
}

@media (max-width: 480px) {  
#search {
width: 64%;
}
#region {
width: 64%;
}
.menu ul li a {
font: 13px Comfortaa Regular;
padding-left: 60px;
}
.menu .fourthLi, #kosmetika .fourthLi, #instr .fourthLi {
height: 80px;
padding-top: 20px;
}
.menu .firstLi {
    background: url(../images/parik.png) 10px 25px no-repeat;
}
.menu .secondLi {
    background: url(../images/up_hair.png) 15px 24px no-repeat;
}
.menu .thirdLi {
    background: url(../images/dep.png) 15px 18px no-repeat;
}
.menu .fourthLi {
    background: url(../images/manik3.png) 10px 21px no-repeat;
}
.menu .fifthLi {
    background: url(../images/mass.png) 9px 32px no-repeat;
    padding-left: 67px;
}
.menu .sixthLi {
    background: url(../images/pirs.png) 9px 35px no-repeat;
    padding-left: 67px;
}
.menu .sevenLi {
    background: url(../images/manik.png) 10px 35px no-repeat;
    padding-left: 57px;
}
.menu .eightLi {
    background: url(../images/viz3.png) 15px 21px no-repeat;
}
.menu .nineLi {
    background: url(../images/tatu.png) 13px 29px no-repeat;
    padding-left: 67px;
}
}
.menu .tenLi {
    background: url(../images/face.png) 18px 26px no-repeat;
}
#kosmetika .firstLi {
    background: url(../images/hair.png) 14px 18px no-repeat;
}
#kosmetika .secondLi {
    background: url(../images/upHair.png) 14px 18px no-repeat;
}
#kosmetika .thirdLi {
    background: url(../images/face2.png) 23px 21px no-repeat;
}
#kosmetika .fourthLi {
    background: url(../images/manik2.png) 15px 19px no-repeat;
}
#kosmetika .fifthLi {
    background: url(../images/body.png) 12px 24px no-repeat;
}
#kosmetika .sixthLi {
    background: url(../images/foot.png) 17px 19px no-repeat;
}
#kosmetika .sevenLi {
    background: url(../images/forTatoo.png) 17px 19px no-repeat;
}
#kosmetika .eightLi {
    background: url(../images/upResn.png) 17px 19px no-repeat;
}
#kosmetika .nineLi {
    background: url(../images/decor.png) 10px 32px no-repeat;
}
#kosmetika .tenLi {
    background: url(../images/pirs2.png) 11px 27px no-repeat;
}
#instr .firstLi {
    background: url(../images/parik.png) 10px 25px no-repeat;
}
#instr .secondLi {
    background: url(../images/viz2.png) 14px 14px no-repeat;
}
#instr .thirdLi {
    background: url(../images/kosm.png) 10px 26px no-repeat;
}
#instr .fourthLi {
    background: url(../images/viz.png) 14px 25px no-repeat;
}
#instr .fifthLi {
    background: url(../images/mass.png) 9px 32px no-repeat;
}
#instr .sixthLi {
    background: url(../images/tatu2.png) 6px 25px no-repeat;
}
#instr .sevenLi {
    background: url(../images/forDep.png) 17px 19px no-repeat;
}
#instr .eightLi {
    background: url(../images/pirs.png) 7px 37px no-repeat;
}
#instr .nineLi {
    background: url(../images/up_hair2.png) 25px 22px no-repeat;
}
#instr .tenLi {
    background: url(../images/up_res.png) 9px 21px no-repeat;
}
}

@media (max-width: 320px) {
  nav ul li {
float: none;
}
.menu ul li a, .tenLi {
font-size: 11px!important;
}
}