{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}

  <div class="admin-main-menu">
 <ul>
  <li><a href="{{ path('la_net_admin_brand_list') }}">Список брендов</a></li>
  <li><a href="{{ path('la_net_admin_brands_categories_list') }}">Категории брендов</a></li>
  <li><a href="{{ path('la_net_admin_brand_moderation_list') }}">Модерация брендов ({{ModerationCount}})</a></li>
</ul>
  </div> 
    
{% endblock content %}